* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  transition: all 500ms ease;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
}

:root {
  /* colors */
  --snow: #f8f8ff;
  --fadedWhite: #f8f8ff76;
}

body {
  position: relative;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 60px;
  box-shadow: 1px 4px 4px -4px black;
  z-index: 10;
  width: 100%;
  background: black;
  top: 0;
  color: var(--snow);
}

.contact {
  color: var(--snow) !important;
}

.links {
  /* border: 1px solid blue; */
  display: flex;
  padding: 5px 10px;
  gap: 70px;
}

nav a {
  color: var(--fadedWhite);
  text-decoration: none;
}

nav a:hover {
  color: var(--snow);
}

.socialLinks {
  display: flex;
  gap: 10px;
}

.hamburger {
  color: black;
  background-color: var(--snow);
  padding: 5px;
  cursor: pointer;
  display: none;
}

.activeBurger {
  & :nth-child(1) {
    transform: translateY(12px) translateX(5px) rotate(44deg);
  }

  & :nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }

  & :nth-child(2) {
    transform: rotate(-45deg);
  }
}

/* Aside section */
.asideMenU {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 3;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 100%;

  & .socialAsideLinks {
    margin-top: 30px;
    font-size: 30px;
    display: flex;
    gap: 20px;
    & a {
      color: rgba(255, 255, 255, 0.5);

      &:hover {
        color: white;
      }
    }
  }
}

.asideLinks {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  font-size: 20px;

  & a {
    text-decoration: none;
    color: var(--fadedWhite);
    text-decoration: none;
  }

  & a:hover {
    color: var(--snow);
  }
}

.activeAside {
  right: 0 !important;
}

/* End of navigation */
.body {
  /* padding-top: 90px; */
  position: relative;
  width: 100vw;
}

.topSection {
  position: relative;
  height: 560px;
  overflow: hidden;
  color: var(--snow);
  padding: 150px 80px;
}

.topSection video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(30%);

  /* width: 100vw; */
}

.topSection h1 {
  font-size: 120px;
  letter-spacing: 5px;
}

.topSection p {
  font-size: 25px;
}

/* Email section */

.emailSection {
  padding: 80px 40px;
  width: 100%;
  height: auto;
  background-color: whitesmoke;
}

.emailSection h2 {
  font-size: 40px;
}

.emailSection h2,
p {
  padding-left: 20px;
}

form {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  padding: 40px 50px;
  border-radius: 15px;
  margin: 30px 0;
  border-top: 8px solid black;
  border-bottom: 8px solid black;
}

small {
  font-size: 12px;
  font-weight: 900;
}

label {
  margin: 5px 0;
}

.labelHolder {
  display: flex;
  width: 100%;
  gap: 20px;
}

.labelHolder label {
  width: 50%;
}

.labelHolder label input {
  width: 100%;
  margin-top: 5px;
  font-size: 15px;
  padding: 5px;
  outline: none;
  border: 1.5px solid rgba(0, 0, 0, 0.422);
}

label .email {
  width: 100%;
  margin-top: 5px;
  font-size: 15px;
  padding: 5px;
  outline: none;
  border: 1.5px solid rgba(0, 0, 0, 0.422);
}

textarea {
  margin: 5px 0;
  font-size: 15px;
  padding: 5px;
}

.checkbox {
  font-size: 12px;
}

form button {
  width: 40%;
  padding: 10px 25px;
  border-radius: 15px;
  margin: 20px auto;
  cursor: pointer;
}

/* Contact Details section */
.contactDetails {
  height: auto;
  text-align: center;
  padding: 80px 50px;
  position: relative;
  background-image: url("https://uploads-ssl.webflow.com/60b280b08e7b7a3f70e3e16d/60b282df0e0fd836392a0c89_light-geometric-pattern.jpg");
}

.contactDetails > h2 {
  font-size: 40px;
  letter-spacing: 4px;
}

.compHolder {
  width: 100%;
  height: 350px;
  margin-top: 20px;
  position: relative;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.comp {
  padding: 40px;
  width: 30%;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  background-color: whitesmoke;
}

.address {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* justify-content: center; */
}

/* .address p */

.icons {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px;
}

.icons i {
  font-size: 40px;
}

/* Footer Section */
.footer {
  border: 1px solid black;
}

.vision {
  height: 400px;
  color: var(--snow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-size: auto !important;
  background-image: url("https://uploads-ssl.webflow.com/60b280b08e7b7a3f70e3e16d/60b288771c7edd54b4f2ae35_dark-geometric-pattern.jpg");
}

.vision h2 {
  font-size: 38px;
  letter-spacing: 4px;
}

.mainFooter {
  position: relative;
  height: 350px;
  background-color: rgb(20, 20, 20);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 45px;
}

.PTC {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  /* gap: 30px; */
}

.footLinks {
  display: flex;
  gap: 10px;
  font-size: 20px;
}

.footLinks a {
  color: var(--snow) !important ;
  text-decoration: none;
}

/* Media Query */
@media (max-width: 1160px) {
  .links {
    gap: 50px;
  }
}

@media (max-width: 900px) {
  .compHolder {
    padding: 0;

    & .comp {
      width: 40%;
      padding: 40px 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (max-width: 650px) {
  /* Nav section */
  nav {
    justify-content: space-between;
    padding: 20px 40px;

    & .hamburger {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 50px;
      background-color: black !important;

      & > div {
        height: 1px;
        width: 50px;
        background-color: #fff;
      }
    }
  }

  nav h3 {
    font-size: 20px;
  }
  .links,
  .socialLinks {
    display: none;
  }
  /* End of Nav */

  .topSection {
    height: 100vh;
    padding: 240px 30px;
    & h1 {
      font-size: 60px;
    }
    & p {
      font-size: 20px;
    }
  }

  /* Email Section */
  .emailSection {
    padding: 50px 30px;
    & h2,
    p {
      padding-left: 0;
    }
  }

  form {
    padding: 40px 20px;

    & button {
      width: auto;
    }
  }

  .labelHolder {
    flex-direction: column;
    gap: 0;

    & label {
      width: 100%;
    }
  }

  /* Contact Details */
  .contactDetails {
    & h2 {
      font-size: 25px;
      letter-spacing: 2px;
    }
  }

  .compHolder {
    flex-direction: column;
    height: auto;
    padding: 0;

    & .comp {
      width: 100%;
    }
  }

  /* Footer section */
  .vision {
    & h2 {
      font-size: 30px;
      letter-spacing: 2px;
    }
  }

  .PTC {
    flex-wrap: wrap;
    font-size: 15px;
    justify-content: center;
    align-items: center;
  }

  .footLinks {
    font-size: 30px;
    gap: 30px;
  }
}
