* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  transition: all 500ms ease;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

:root {
  /* colors */
  --snow: #f8f8ff;
  --fadedWhite: #f8f8ff76;
}

body {
  position: relative;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 60px;
  box-shadow: 1px 4px 4px -4px black;
  z-index: 10;
  width: 100%;
  background: black;
  top: 0;
  color: var(--snow);
}

.home {
  color: var(--snow) !important;
}

.links {
  /* border: 1px solid blue; */
  display: flex;
  padding: 5px 10px;
  gap: 70px;
}

nav a {
  color: var(--fadedWhite);
  text-decoration: none;
}

nav a:hover {
  color: var(--snow);
}

.socialLinks {
  display: flex;
  gap: 10px;
}

.hamburger {
  color: black;
  background-color: var(--snow);
  padding: 5px;
  cursor: pointer;
  display: none;
}

.activeBurger {
  & :nth-child(1) {
    transform: translateY(12px) translateX(5px) rotate(44deg);
  }

  & :nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }

  & :nth-child(2) {
    transform: rotate(-45deg);
  }
}

/* End of navigation */
/* Aside section */
.asideMenU {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 3;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 100%;
}

.activeAside {
  right: 0 !important;
}

.asideLinks {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  font-size: 20px;

  & a {
    text-decoration: none;
    color: var(--fadedWhite);
    text-decoration: none;
  }

  & a:hover {
    color: var(--snow);
  }
}

.welcome {
  padding: 80px;
  text-align: center;
  background-color: whitesmoke;
}

.label {
  margin-bottom: 20px;
}

.steps {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
  padding: 20px;
}

.stepCard {
  height: 450px;
  width: 350px;
  position: relative;
  border-radius: 10px;
  box-shadow: 2px 2px 5px;
  cursor: pointer;
  background-color: white;
}

.stepCard img {
  width: 100%;
  height: 60%;
  margin-bottom: 40px;
  object-fit: cover;
}

.circleNumber {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%);
  /* transform: translateX(-50%); */
  /* padding: 15px 20px; */
  width: 65px;
  height: 65px;
  background-color: white;
  border-radius: 50%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.circleNumber p {
  background-color: rgb(209, 204, 204);
  width: 70%;
  height: 70%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  overflow: hidden;
}

/* about the studio section */
.aboutTheStudio {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: center;
  margin-bottom: 30px;
}

.aboutTheStudio p {
  font-size: 35px;
  width: 58%;
  font-weight: lighter;
}

.aboutTheStudio a {
  text-decoration: none;
  border: 1px solid black;
  padding: 15px 25px;
  font-size: 15px;
  background-color: black;
  color: var(--snow);
  letter-spacing: 2px;
  border-radius: 5px;
}

.aboutTheStudio a:hover {
  letter-spacing: 5px;
}
.viewProjects a:hover {
  letter-spacing: 5px;
}

/* featured works section */

.featuredWorks {
  position: relative;
  max-width: 100%;
  margin: auto;
  padding: 20px 60px;
  background-image: url("https://uploads-ssl.webflow.com/60b280b08e7b7a3f70e3e16d/60b282df84c6fccb1bdc2d62_tile-texture.jpg");
}

.featuredWorks > h2 {
  font-size: 35px;
  letter-spacing: 2px;
}

.work {
  height: 550px;
  width: 100%;
  margin: auto;
  display: flex;
  box-shadow: 4px 4px 6px;
  position: relative;
  margin-top: 30px;
  border-radius: 14px;
  /* overflow: hidden; */
  background-color: white;
}

.work img {
  width: 50%;
}

.workHeader {
  /* width: auto !important; */
  position: absolute;
  padding: 15px 100px;
  color: var(--snow);
  background-color: black;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
}

/* .headRight {
  right: 10%;
  padding-left: 250px;
} */

/* .headLeft {
  left: 10%;
  padding-right: 250px;
} */

.workDetails {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.workDetails div {
  width: 80%;
}

.workDetails small {
  font-size: 12px;
  font-weight: 800;
}

.viewProjects {
  height: 200px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.viewProjects p {
  font-size: 30px;
  font-weight: 100;
}

.viewProjects a {
  text-decoration: none;
  padding: 15px 25px;
  font-size: 15px;
  background-color: black;
  color: var(--snow);
  letter-spacing: 2px;
  border-radius: 5px;
}

/* Unique approach */
.approach {
  max-width: 95%;
  margin: auto;
  padding: 80px 40px;
}

.approach h2 {
  font-size: 35px;
  letter-spacing: 2px;
}

.associate {
  display: flex;
  width: 100%;
  position: relative;
  height: 400px;
  margin-top: 35px;
}

.associate img {
  width: 50%;
  border-radius: 13px;
}

.associateDetails {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
  padding-top: 40px;
  /* padding-left: 40px; */
}

.associateDetails * {
  width: 78%;
}

.associateDetails h3 {
  font-size: 24px;
}

.associateDetails a {
  text-decoration: none;
  padding: 15px 25px;
  font-size: 15px;
  background-color: black;
  color: var(--snow);
  letter-spacing: 2px;
  border-radius: 5px;
  width: auto !important;
  text-align: center;
}

.associateDetails a:hover {
  letter-spacing: 5px;
}

/* Footer Section */
.footer {
  border: 1px solid black;
}

.vision {
  height: 400px;
  color: var(--snow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-size: auto !important;
  background-image: url("https://uploads-ssl.webflow.com/60b280b08e7b7a3f70e3e16d/60b288771c7edd54b4f2ae35_dark-geometric-pattern.jpg");
}

.vision h2 {
  font-size: 38px;
  letter-spacing: 4px;
}

.vision a {
  text-decoration: none;
  padding: 15px 25px;
  font-size: 15px;
  color: var(--snow);
  letter-spacing: 2px;
  border-radius: 5px;
  width: auto !important;
  text-align: center;
  margin-top: 20px;
  background-color: black;
}

.vision a:hover {
  letter-spacing: 5px;
}

.mainFooter {
  position: relative;
  height: 350px;
  background-color: rgb(20, 20, 20);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 45px;
}

.PTC {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  /* gap: 30px; */
}

.footLinks {
  display: flex;
  gap: 10px;
  font-size: 20px;
}

.footLinks a {
  color: var(--snow) !important ;
  text-decoration: none;
}

/* Media Query */

@media (max-width: 1160px) {
  .links {
    gap: 50px;
  }

  /* Welcome Section */
  .welcome {
    padding: 80px 40px;
  }
  .steps {
    width: 100%;
  }
  .stepCard {
    height: 380px;
    width: 500px;
  }

  /* Featured Works */
  .work {
    & .workHeader {
      padding: 10px 50px;
      font-size: 25px;
      top: 0;
    }
  }

  /* Associate section */
  .associate {
    height: auto;
  }
}

@media (max-width: 650px) {
  nav {
    justify-content: space-between;
    padding: 20px 40px;
  }
  nav h3 {
    font-size: 20px;
  }
  .links,
  .socialLinks {
    display: none;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50px;
    background-color: black !important;

    & > div {
      height: 1px;
      width: 50px;
      background-color: #fff;
    }
  }
  /* End of Nav */

  /* Welcome section */

  .welcome {
    padding: 40px;
  }
  .label {
    font-size: 15px;
  }

  .welcome h1 {
    font-size: 25px;
  }

  .steps {
    flex-wrap: wrap;
    padding: 0;
  }

  .stepCard {
    width: 100%;
  }

  .stepCard > p {
    font-size: 18px;
  }
  /* End of welcome */

  /* About the studio section */
  .aboutTheStudio {
    height: auto;
    margin: 40px auto;
  }

  .aboutTheStudio p {
    font-size: 30px;
    width: 100%;
  }

  /* End of studio section */

  /* Featured work section */
  .work {
    width: 100%;
    height: auto !important;
    padding: 0 0 30px;
    justify-content: center;
    align-items: center;
    background: none;
    flex-direction: column;
    gap: 20px;

    & img {
      width: 100%;
      height: 50%;
      z-index: -1;
      object-fit: cover;
      filter: brightness(70%);
    }

    .workHeader {
      display: none;
    }

    .workDetails {
      font-size: 10px;
      width: 100%;
      height: auto;
      gap: 10px;
      border-radius: 20px;
      /* box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset; */
      backdrop-filter: blur(2px);
      color: black;

      /* flex-wrap: wrap-reverse; */

      & div > p {
        font-size: 15px;
      }
    }
  }

  /* Unique Approach section */
  .approach {
    max-width: 100%;
    padding: 80px 20px;

    & .associate {
      height: 600px;

      & img {
        width: 100%;
      }
    }

    .associateDetails {
      position: absolute;
      width: 90%;
      height: 90%;
      background: rgba(233, 181, 181, 0.489);
      left: 50%;
      top: 30px;
      transform: translateX(-50%);
      padding: 10px;
      backdrop-filter: blur(20px);

      & a {
        font-size: 13px;
      }
    }
  }
  .featuredWorks {
    padding: 20px 40px;
  }
}
